<%- include('includes/header') -%>
<body>
    <% if(locals.user){ %>
        <%- include('includes/navbar') -%>
    <% }else{ %>
        <header id="header">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h3>Welcome <b>Guest</b> to <span class="logo1"><a href="/" class="logo1"><i class="fa fa-quora"></i>uest-Land</a></span></h3>
                        <h1> The Social Q&A Community</h1>
                        <p>The question and answer site designed to help people, to help each other: To ask, to ask, to learn, to share, to grow.</p>
                        <p>Are you a member already, <span class="green-btn"><a href="/login" class="green-btn">Sign in</a></span> to ask a question, else <span class="green-btn"><a href="/confirm-email" class="green-btn">Sign Up</a></span></p>
                    </div>
                </div>
            </div>
        </header>
    <% } %>

    <div class="container pt-4 body">
        <div class="row justify-content-center">
            <div class="col-md-8 Questions">

                <div class="text-center mb-5"><h1><%= name%> Questions</h1></div>
                <% if (locals.categoryQuestions.length != 0) { %>
                <div class="col-md-12 Questions">
                    
                    <% let reverseQuest = [] %>
                    <% let j = categoryQuestions.length - 1 %>
                    <% for (let i of Object.keys(categoryQuestions)) { %>
                        <% reverseQuest[i] = categoryQuestions[j] %>
                        <% j -= 1 %>
                    <% } %>
                    <% for (let i of Object.keys(reverseQuest)) { %>
                        <div class="card mb-4" >
                            <% let month = reverseQuest[i].date.getMonth() + 1 %>
                            <% let realDate = reverseQuest[i].date.getDate() + '/' + month + '/' + reverseQuest[i].date.getFullYear() %>
                            <!-- <% let user = USERS.find(USER => USER._id === questions[i].user) %>
                            <% console.log(user) %> -->
                            <% let fullName = 'test' %>
                            <% let use = 'test' %>
                            <% USERS.forEach(USER => { %>
                                <% if(USER.email === reverseQuest[i].user){ %>
                                    <% fullName = USER.lastName + ' ' + USER.firstName %>
                                    <% use = USER %>
                                <% } %>
                            <% }) %>
                            
                            <% let profileUrl = "/profile/" + use._id %>
                            <p><span class="a"><a href="<%= profileUrl %>" class="a">
                                <% if (use.profilePhoto) { %>
                                    <% let imageUrl = "/profile/" + use.profilePhoto %>
                                    <img alt="Picture" src="<%= imageUrl %>" class="rounded-circle" width="25" height="25" />
                                <% }else{ %>
                                    <% if (use.gender === 'Male') { %>
                                        <img alt="Picture" src="/profile/default-avatar.png" class="rounded-circle" width="25" height="25" />
                                    <% }else{ %>
                                        <img alt="Picture" src="/profile/female-avatar.png" class="rounded-circle" width="25" height="25" />
                                    <% } %>
                                <% } %>
                                <%= fullName %></a></span> <%= realDate %>
                            </p>
                            <% let link = "/" + use.username + "/" + reverseQuest[i]._id  %>
                            <h4 class="h4"><a href="<%= link %>" class="h4"><%= reverseQuest[i].title %></a></h4>
                            <p><%= reverseQuest[i].details %></p>
                            
                        <a href="<%= link %>" class="green-btn">View question and make a contribution</a>
                        </div>
                    <% } %>
                    
                </div>
                <% }else{ %>
                    <h3 class="text-center mt-5">No Questions asked yet under this category yet</h3>
                <% } %>
                
            </div>

            <div class="col-md-4 mb-4">
                <div class="col-md-12 categories">
                    <div class="category-head" >
                        <span class="all_topics"> All categories</span></br>
                        <span > <%= questions.length%> Questions</span>
                    </div>
                    <% categories.map(category =>{ %>
                        <div class="all_list">
                            <% let categoryUrl = '/questions/' + category.name %>
                            <a class="list_cap" href="<%= categoryUrl%>">
                            <% if(category.name === "Technology"){ %>
                                <img src="/images/tech.jpg" class="float-left">
                            <% }else if(category.name === "Science"){ %>
                                <img src="/images/science.jpg" class="float-left">
                            <% }else if(category.name === "Health"){ %>
                                <img src="/images/health.jpg" class="float-left">
                            <% }else if(category.name === "Education"){ %>
                                <img src="/images/education.jpg" class="float-left">
                            <% }else if(category.name === "Entertainment"){ %>
                                <img src="/images/entertainment.jpg" class="float-left">
                            <% }else if(category.name === "Investing"){ %>
                                <img src="/images/investing.jpg" class="float-left">
                            <% }else if(category.name === "Others"){ %>
                                <img src="/images/post1.jpg" class="float-left">
                            <% } %>
                            
                            <div class="list_content float-left ml-3 mt-3">
                                <span class="a"><%= category.name%></span> </br>
                                <% let categoryQuestions = [] %>
                                <% questions.map(question => { %>
                                    <% if(question.category === category.name){ %>
                                        <% categoryQuestions.push(question) %>
                                    <% } %>
                                <% }) %>
                                <span class="topic_counter" href="#"> <%= categoryQuestions.length%> Questions</span> </br>
                            </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    <% }) %>
                </div>
                
            </div>

        </div>

    </div>

    <%- include('includes/footer') -%>
</body>
</html>
